%header
  %nav.navbar.navbar-expand.kronos-navbar
    %span.mx-auto.navbar-brand
      .d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
        =image_tag "kronos_logo_large.png"
      .d-none.d-sm-none.d-md-block.d-lg-none.d-xl-none
        =image_tag "kronos_logo_medium.png"
  %nav.navbar.navbar-expand-lg.kronos-navbar
    %a.navbar-brand.nav-link{:href => "#"}
      .d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
        Home
      .d-block.d-sm-block.d-md-block.d-lg-none.d-xl-none
        Kronos
    %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle naviation"}
      =kIcon "three-bars", :class => "kronos-icon-white"
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{:href => "#"}
            Vereniging
            =kIcon "triangle-down"
        %li.nav-item
          %a.nav-link{:href => "#"}
            Trainingen
            =kIcon "triangle-down"
        %li.nav-item
          %a.nav-link{:href => "#"}
            Wedstrijden
            =kIcon "triangle-down"
        %li.nav-item
          %a.nav-link{:href => "#"}
            Agenda
        %li.nav-item
          %a.nav-link{:href => "#"}
            Uitslagen
        %li.nav-item
          %a.nav-link{:href => "#"}
            Foto's
        %li.nav-item
          %a.nav-link{:href => "#"}
            Contact
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{:href => "#"}
          Log in
          =kIcon "triangle-down"
